body {
  margin: 0;
}

.page-wrapper {
  width: 60%;
  margin: 0 auto;
}
.other-content {
  height: 100px;
  background-color: grey;
}
.main-content {
  display: grid;
  grid-template-columns: 65% 5% 30%;
  gap: 16px;
  margin: 40px 0;
}
.media-scroller {
  display: grid;
  grid-auto-flow: row;
  gap: 5px;
  overflow-x: auto;
  padding: 0 16px 16px;
}
::-webkit-scrollbar {
  width: 10px;
}
.inline-snap {
  scroll-padding-inline: 16px;
}
.inline-snap > * {
  scroll-snap-align: start;
}
.media-group {
  display: flex;
}
.media-element {
  flex-grow: 0;
  flex-shrink: 1;
  padding: 10px;
}
.media-element > img {
  height: 200px;
  border-radius: 5px;
}
.arrow-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  position: relative;
  left: -80px;
  top: 250px;
}
.arrow-buttons button {
  width: 60px;
  height: 60px;
  border: 1px solid #134880;
  border-radius: 5px;
  cursor: pointer;
}

.arrow-buttons img {
  aspect-ratio: 1/1;
}
.text-element {
  margin: auto 0;
  padding: 0 28px 0 8px;

  position: relative;
  left: -48px;
}
.text-element > h1 {
  color: #305479;
}
